.custom-slider .items{
    position: relative;
    width: calc(100% - 50px);
    height: 100vh;
    padding-left: 50px;
    float: right;
}

/*.custom-slider .slider-overlay{*/
    /*position: relative;*/
/*}*/
.custom-slider .slider-overlay{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    background: rgba(1,1,1, 0.3);
    z-index: 1;
}

.custom-slider .items .item{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition-delay: .2s;
    transition:all .5s;
    padding: 0;
    margin: 0;
}

.custom-slider .items .item.active{
    opacity: 1;
    transition-delay: .2s;
    visibility: visible;
}

.custom-slider .items .item img{
    display:inline-block;
    width: 100%;
    height: 100%;
}

.custom-slider .items .slider-controller{
    width: 90%;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    z-index: 101;
    margin: 0 auto;
}

.custom-slider .items .slider-controller ul{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.custom-slider .items .slider-controller ul li{
    display: flex;
    flex-direction: column;
    float: left;
    text-align: center;
    height: 7px;
    width: 100%;
    margin: 0 7px;
}

.custom-slider .items .slider-controller ul li a{
    background: rgba(245, 245, 245, 0.45);
    height: 100%;
    width: 100%;
    display: inline-block;
    border-radius: 25px;
    transition: all .5s linear;
}

.custom-slider .items .slider-controller ul li a.active{
    background: #fff;
}

.slider-caption-container{
    min-height: 110px;
}
.slider-caption-container .item-caption{
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    font-size: 1.5rem;
    visibility: hidden;
    transition-delay: .2s;
    transition:all .5s;
    opacity: 0;
    padding: 0 15px 0 15px;
}

.slider-caption-container .item-caption.active{
    transition-delay: .3s;
    visibility: visible;
    opacity: 1;
}

@media all and (max-width:45rem){
    .custom-slider .items{
        width: calc(100% - 30px);
        padding-left: 15px;
        padding-left: 15px;
        float: none;
    }
    .custom-slider .items::before{
        left: auto;
        right: auto;
    }
    .custom-slider .items .item{
        left: auto;
        right: auto;
        display: inline-block;
    }
}