/*//////////////////////// 
Top Menu 
/////////////////////*/
body{
    /*background: #f0f0f0;*/
}
.navbar-default{
    background: #fff;
    color: #000; 
    border-bottom: 1px solid #ccc;
    -webkit-box-shadow: 0px 5px 11px 0px rgba(158,158,158,0.5);
    -moz-box-shadow: 0px 5px 11px 0px rgba(158,158,158,0.5);
    box-shadow: 0px 5px 11px 0px rgba(158,158,158,0.5);
}
.dropdown i{
  color: #000;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #000;
    background-color: #fff;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #fff;
}
.dropdown-nav{
  margin-top: 10px;
}
.dropdown-menu{
    margin-right: 100px;
}
@media (max-width: 768px){
    .dropdown-menu{
    margin-right: 0px;
}
}
.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus {
    color: #0051CC;
    text-decoration: none;
    background-color: #000;
}
.btn-login-user{
    background: #fff;
    color: #000;
    border-radius: 0px;
    font-size: 20px;
    padding: 0px
}
.btn-login-user img{
    width: 45px;
    height: 45px;
    border-radius: 50px;
}
.navbar-brand{
    font-weight: 700;
    color: #000;
    padding-top: 20px;
}
@media(max-width:768px){
    .navbar-brand{
    padding-top: 15px;
}
}
@media only screen and (min-width: 1071px) {
    .navbar-left .form-group input{
        width: 500px;
        background: #f0f0f0;
    }
}
@media only screen and (min-device-width: 900px) and (max-device-width: 1070px) {
    .navbar-left .form-group input{
        width: 320px;
    }
}
.notification span{
    position: absolute;
    margin: -1px 0px 0px -30px;
    background: #F74356;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    padding: 0px 5px 5px 6px;
    color: #fff;
}
/*////////////////////////
    Left Menu 
 /////////////////////*/
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav li {
    text-indent: 8px;
    line-height: 45px;
    padding-left: 15px;
}
.sidebar-nav a {
    display: block;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 1.3em;
}
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #ed4a57;
}
.sidebar-nav li a:active {
    color: #1343ee;
} 
.sidebar-nav li a:focus{
    text-decoration: none;
    color: #1343ee;
}
.sidebar-nav i{
    float: right;
    padding-right: 10px;
    font-size: 20px;
    vertical-align: middle;
    margin-top: 10px;
}
.sidebar-nav span{
    padding: 10px 15px;
}
.active-menu span{
    background: #f0f0f0;
    color: #222;
    border-radius: 20px;
}
.sidebar-nav{
    margin-top: 100px;
}
.sidebar-nav span{
    /*float: right;*/
    /*padding-right: 5px;*/
    /*margin-top: 13px;*/
}
.sidebar-nav .active-menu a:hover{
    color: #cccccc;
}
.sidebar-brand a{
    color: #fff;
    background: #1343ee;
    text-align: center;
    padding: 10px 25px;
    border-radius: 2px;
    font-weight: 600;
}
.sidebar-brand {
    padding-top: 50px;
    padding-left: 30px;
    margin-top: 50px;
}
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    /*background: #f9f9f9;*/
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    
}
#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}
#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}
#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled {
    padding-left: 250px;
}
@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }
    #wrapper.toggled {
        padding-left: 220px;
    }
    #sidebar-wrapper {
        width: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 220px;
    }
    #page-content-wrapper {
        padding: 0px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
#myaffix{
    position: fixed;
    width: 280px;
    -webkit-box-shadow: 8px 0px 10px -8px rgba(0,0,0,0.43);
    -moz-box-shadow: 8px 0px 10px -8px rgba(0,0,0,0.43);
    box-shadow: 8px 0px 10px -8px rgba(0,0,0,0.43);
}

/*//////////////////////////// 
    Trend CSS
///////////////////////////*/
.user img{
    width: 50px;
    border-radius: 50px;
}
.btn-user{
    background: #ed4a57;
    color: #fff;
}
.btn-follow{
    background: #ed4a57;
    color: #fff;
    font-size: 0.9em;
}
.btn-log-user{
    background: #ed4a57;
    color: #fff;
    font-size: 1.2em;
    padding: 10px 15px;
    border-radius: 50px;
    margin-right: 10px;
    text-decoration: none;
    line-height: 51px;
}
.btn-log-user:hover,
.btn-log-user:focus,
.btn-log-user:active{
    text-decoration: none;
    color: #fff;
}
.btn-draft{
    background: #aaa;
    color: #fff;
    font-size: 1.2em;
    padding: 10px 15px;
    border-radius: 50px;
    margin-right: 10px;
    text-decoration: none;
    line-height: 51px;
}
.btn-draft:hover,
.btn-draft:focus,
.btn-draft:active{
    text-decoration: none;
    color: #fff;
}
.product{
    background: #fff;
    padding: 15px;  
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
}
.product-image img{
    border-radius: 10px;
}
.product-info{
    margin: 15px 0px;
    font-size: 17px;
}
.media-right{
    text-align: right;
}
.favourite{
    padding-left: 15px;
    padding-right: 15px;
}
.favourite-icon{
    float: left;
}
.favourite-icon :nth-child(1){
    color: #ed4a57;
}
.favourite-text{
    float: right;
    font-size: 11px;
}
.media-body h4{
    font-size: 1.1em;
    font-weight: 600;
}
@media(max-width:768px){
.mob-container{
    padding-left: 0px;
    padding-right: 0px;
}
.page-title h2{
    padding-left: 15px;
}
}
#list-container {
    overflow:hidden;    
    /*width: 300px;  */
    /*float:left;    */
}
.list{
    /*background:grey;*/
    min-width:1400px;
    float:left;
}
#arrowR{
    float:right;
    cursor:pointer;
    font-size: 35px;
    line-height: 45px;
    padding-left: 10px;
}
#arrowL{
    float:left;
    cursor:pointer;
    font-size: 35px;
    line-height: 45px;
}
.item{
    /*width:100px;*/
    /*height:40px;*/
    margin:5px;
    padding: 7px 12px;
    float:left;
    position:relative;
    text-align: center;
}
.item a{
    text-decoration: none;
    color: #000;
}
.list .active{
    padding: 7px 12px;
    border-radius: 50px;
    background: #ccc;

}
.catgory{
    margin: 20px 10px 10px 10px; 
}
.product-col{
    padding-left: 10px;
    padding-right: 10px;
}
/*//////////////////////////// 
    User Post CSS
///////////////////////////*/
.search-label span{
    background: #fff;
    border: none;
}
.search-label input{
    border-radius: 6px;
    height: 46px;
    border: 1px solid #f0f0f0;
    background: #f0f0f0;
    padding: 5px;
    width: 500px;
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.search-label input:focus {
    outline: 0;
}
.search-label {
  position: relative;
  color: #aaa;
  font-size: 16px;
}
.search-label .fa-search {
  position: absolute;
  top: 10px;
  right: 0px;
}
@media (max-width: 768px){
    .search-label{
        width: 100%;
    }
}
@media (max-width: 990px){
    .search-label input{
        width: 300px;
    }
}
.page-title{
    margin: 15px 0px;
}
.page-title span{
    background: #f0f0f0;
    padding: 10px;
    border-radius: 50px;
}
.page-title h2{
    font-size: 1.5em;
    font-weight: 500;
    border-left: 3px solid #ed4a57;
    margin-left: 10px;
}
.carousel .carousel-control{
    background: transparent;
}
.post-fav{
    float: right;
}
.post-fav span{
    font-size: 1.5em;
}
.post-fav a{
    color: #000;
}
.btn-ctrl{
    float: right;
}
.btn-prev{
    padding: 7px 20px;
    background: #f0f0f0;
    color: #000;
    border-radius: 50px;
    margin-top: 10px;
    margin-right: 15px;
    font-size: 1.3em;
}
.btn-next{
    padding: 7px 20px;
    background: #f0f0f0;
    color: #000;
    border-radius: 50px;
    margin-top: 10px;
    font-size: 1.3em;
}
.btn-prev i{
    font-size: 1.7em;
    vertical-align: middle;
    margin-bottom: 5px;
}
.btn-next i{
    font-size: 1.7em;
    vertical-align: middle;
    margin-bottom: 5px;
}
.modal-close{
    font-size: 1.1em;
    color: #000;
}
.modal-comment{
    margin: 15px;
}
.modal-comment span{    
    border-radius: 50px;
}
.modal-comment .input-group-addon:last-child {
    background: #ed4a57;
    color: #fff;
    border-radius: 50px;
}
.comment-seciton{
    max-height: 400px;
    overflow-y: scroll;
}
.user-comment{
    margin-bottom: 15px;
}
.form-control:focus {
    border-color: #aaa;
outline: 0;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(231, 231, 231, 0.6);
}
.viewer{
    float: right;
}
.custom-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 100;
}

/* Hide the browser's default checkbox */
.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    border-radius: 5px;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.custom-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked ~ .checkmark {
    background-color: #ed4a57;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.custom-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.create-new-list input{
    /*border: none;
    border-bottom: 1px solid #000;*/
}
.btn-active{
    background: #ed4a57;
    color: #fff;
}
/*//////////////////////////// 
    Follower CSS
///////////////////////////*/
.follower{
    margin: 30px 0px 50px 0px;
}
.follow-summary{
    margin-right: 0px;
    margin-left: 0px;
}
.follow-summary h4{
    float: left;
    font-size: 1.5em;
}
.follow-summary button{
    float: right;
}
.follow-count{
    float: right;
    margin: 10px 0px;
}
.follow-count span{
    font-size: 1.2em;
    margin-left: 10px;
    font-weight: 600;
}
.user-follow{
    margin: 30px 0px 20px 0px;
}
.user-follow .media-body{
    vertical-align: middle;
}
.user-follow img{
    width: 100px;
    border-radius: 50px;
}
.user-follow a{
    text-decoration: none;
    color: #000;
}
.user-follow a:hover{
    text-decoration: none;
    color: #ed4a57;
}
.follow-category h4{
    padding-left: 30px;
}

.product-image {
    position: relative;
}

.fav-img {
  transition: .5s ease;
  position: absolute;
  top: 40px;
  left: 40px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.fav-img img{
    width: 50px;
    border-radius: 50px;
}
/*//////////////////////////// 
    SingUP/IN CSS
///////////////////////////*/
.sign-up h1{
    margin-bottom: 30px;
}
.sign-up form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 8px;
}
.sign-up input[type="text"],
.sign-up input[type="password"],
.sign-up input[type="date"],
.sign-up input[type="datetime"],
.sign-up input[type="email"],
.sign-up input[type="number"],
.sign-up input[type="search"],
.sign-up input[type="tel"],
.sign-up input[type="time"],
.sign-up input[type="url"],
.sign-up textarea,
.sign-up select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  color: #8a97a0;  
  margin-bottom: 30px;
  border-bottom: 2px solid #000;
}

.sign-up input[type="radio"],
.sign-up input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

.sign-up select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

.sign-up a {
  padding: 10px 50px;
  color: #FFF;
  background-color: #ed4a57;
  font-size: 1.5em;
  text-align: center;
  font-style: normal;
  border-radius: 50px;
  width: 60%;
  margin-bottom: 10px;
  margin-left: 30%;
  text-decoration: none;
}
/*.sign-up button {
  color: #FFF;
  background-color: #ed4a57;
  font-size: 1.5em;
  text-align: center;
  font-style: normal;
  border-radius: 50px;
  width: 60%;
  margin-bottom: 10px;
  margin-left: 20%;
}*/

.sign-up fieldset {
  margin-bottom: 30px;
  border: none;
}

.sign-up legend {
  font-size: 1.4em;
  margin-bottom: 30px;
  border: none;
}

.sign-up label {
  display: block;
  margin-bottom: 8px;
}

.sign-up label.light {
  font-weight: 300;
  display: inline;
}

.user-icon {
    background-color: #aaa;
    color: #fff;
    height: 80px;
    width: 80px;
    display: inline-block;
    font-size: 2em;
    margin-right: 4px;
    line-height: 80px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
}

@media screen and (min-width: 480px) {

  .sign-up form {
    max-width: 480px;
  }

}
/*//////////////////////////// 
    Card CSS
///////////////////////////*/
.new-post{
    margin: 30px 0px 30px 0px;
}
.new-post h2{
    float: left;
    margin: 8px 0px 0px 0px;
}
.new-post button{
    float: right;
    font-size: 17px;
    padding: 10px 50px;
    border-radius: 50px;
}
.add-title{
    margin: 20px 0px;
}
.add-title input{
    width: 100%;
    height: 40px;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid #aaa;  
}
.card-button{
    margin: 10px 0px;
}
.btn-add-card{
    width: 100%;
    background: #aaa;
    font-size: 20px;
}

.image-upload{
    position: relative;
    overflow: hidden;
    /*background: url('../image/add-image.jpg');*/
}
.image-upload input{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    height: 100%;
    width: 100%;
    filter: alpha(opacity=0);
}
.new-post-add{
    margin-bottom: 20px;
}
.new-post-add textarea{
    width: 100%;
    min-height: 200px;
    border: none;
}
.new-post-add textarea:focus,
.new-post-add textarea:active{
    border: 1px solid #ccc;
}
.added-image{
    padding-left: 0px;
}
.added-post{
    margin-left: 0px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(69,69,69,0.5);
-moz-box-shadow: 0px 0px 5px 0px rgba(69,69,69,0.5);
box-shadow: 0px 0px 5px 0px rgba(69,69,69,0.5);
    }
.added-text{
    float: left;
    /*width: 80%;*/
}
.more-icons{
    float: right;
    /*width: 20%;*/
    margin-top: 20px;
    /*padding-left: 5%;*/
}
.more-icons i{
    padding-right: 10px;
    font-size: 1.5em;
}
/*.more-icons i:nth-child(1){
    color: #006ef3;
}
.more-icons i:nth-child(2){
    color: #d80027;
}*/
.carousel-caption {
  position: relative;
  left: 0%;
  right: 0%;
  bottom: 0px;
  z-index: 10;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #000;
  text-shadow: none;

}

.carousel {
    position: relative;
}

.controllers {
    position: absolute;
    top: 0px;
}

.carousel-control.left, 
.carousel-control.right {
    background-image: none;
}

/*//////////////////////////// 
    User CSS
///////////////////////////*/
.nav-pills hr{
    margin-top: 50px;
    height: 2px;
    background: #000;
}
.nav-pills > li > a{
    color: #aaa;
}
.nav-pills > li.active > a, 
.nav-pills > li.active > a:focus, 
.nav-pills > li.active > a:hover {
    color: #000;
    background-color: transparent;
}
.nav-pills > li > a:focus, 
.nav-pills > li > a:hover {
    background-color: transparent;
    color: #000;
}
.user-info img{
    border-radius: 50%;
    margin: 0 auto;
}
.user-info h3{
    text-align: center;
}
.user-input{
    margin-bottom: 50px;
}
.user-input label{
    padding-left: 10px;
}
.user-input input{
    border: none;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    font-size: 1.5em;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border-radius: 4px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.btn-user-profile{
    background: #ed4a57;
    color: #fff;
    min-width: 200px;
    font-size: 1.2em;
    padding: 10px 15px;
    border-radius: 50px;
    margin-right: 10px;
    margin-top: 50px;
    text-decoration: none;
    float: right;
}
.confirmation {
    background: pink;
    padding: 25px;
    border-radius: 10px;
}
.input-textarea textarea{
    height: 50px;
    font-size: 1.7em;
    padding: 10px;
    width: 100%;
    border: none;
}
.input-textarea hr{
    height: 2px;
    background: #000;
    margin-top: 0px;
}
.category-list{
    padding-left: 0px;
    margin-top: 10px;
}
.category-list li{
    float: left;
    list-style: none;
    text-decoration: none;
    margin-bottom: 25px;
}
.category-list li a{
    padding: 10px 20px;
    color: #000;
}
.category-list li a:hover{
    text-decoration: none;
}
.category-list .active{
    background: #f0f0f0;
    border-radius: 50px;
}
.add-card{
    margin: 0px;
}
.select-item ul{
    padding-left: 0px;
    padding-top: 20px;
}
.select-item li{
    float: left;
    list-style: none;
    text-decoration: none;
}
.select-item li a{
    padding: 10px 20px;
    /*color: #000;*/
}
.select-item i{
    font-size: 2.8em;
    /*color: #ccc;*/
}
.select-item-label {
    margin-top: 10px;
}
@media only screen and (max-width: 600px) {
    .select-item li a{
        padding: 5px 7px;
        color: #000;
    }
    .select-item i{
        font-size: 2.2em;
        color: #ccc;
    }
    .select-item-label {
        margin-top: 7px;
        margin-right: 10px;
    }
}    
/*//////////////////////////// 
    Attach Image CSS
///////////////////////////*/
.add-image{
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
}
.add-img{
    padding-left: 0px;
    background: #aaa;
    min-height: 250px;
}
.add-img img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
.add-img h3{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 20px;
}
.add-image-info {
    position: relative;
} 

.add-image-info textarea{
    height: 220px;
    font-size: 1.7em;
    padding: 10px;
    width: 100%;
    border: none;
}
.add-image-info h3{
    margin-bottom: 170px;
}
.add-image {
    min-height: 200px;
    position: relative;
}
.copy-right{
    /*margin-top: 170px; */
    position: absolute;
    padding-left: 0px;
    width: 95%;
    bottom: 0;
    margin-bottom: -30px;    
}
.copy-right-text{
    float: left;
}
.copy-right-btn{
    float: right;
    position: absolute;
    /*top: 120px;*/
    right: 0;
    background: #fff;
}
.copy-right-btn a{
    float: left;
    margin-right: 10px; 
}
.copy-right-btn .fa-pencil-alt{
    color: #2a6ffb;
}
.copy-right-btn .fa-trash{
    color: #ed4a57;
}
.btn-delete{
    text-decoration: none;
    color: #ed4a57;
}
.btn-delete:hover,
.btn-delete:focus{
    text-decoration: none;
    color: #ed4a57;
}
.copy-right-btn i{
    font-size: 1.5em;
    color: #000;
}
.attach-files {
    margin-left: 15px;
    margin-right: 15px;
}
.url-input{
    padding: 15px 15px 0px 15px;
}
.url-input input{
    border: none;
    height: 50px;
    font-size: 1.7em;
    padding: 10px;
    width: 100%;
}
.btn-url{
    background: #aaa;
    color: #000;
    margin-left: 15px;
}

/*/////////////////////////////*/
#columns {
    column-width: 240px;
    column-gap: 15px;
    width: 100%;
    max-width: 1100px;
    margin: 50px auto;
}
@media screen and (max-width: 600px) {
    #columns {
    width: 90%;
}
}
div#columns figure {
    background: #fefefe;
    border: 2px solid #fcfcfc;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    padding: 5px;
    padding-bottom: 10px;
    transition: opacity .4s ease-in-out;
  display: inline-block;
  column-break-inside: avoid;
}

div#columns figure img {
    width: 100%; height: auto;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

div#columns figure figcaption {
  font-size: 1.3rem;
  color: #444;
  line-height: 1.5;
  margin-bottom: 10px; 
}

@media screen and (max-width: 750px) { 
  #columns { column-gap: 10px; }
  #columns figure { width: 100%; }
}

/*////////////////////////////////*/
 #follower {
    column-width: 200px;
    column-gap: 15px;
    width: 100%;
    max-width: 1100px;
    margin: 50px auto;
}

@media screen and (max-width: 600px) {
    #follower {
    width: 90%;
}
}

div#follower figure {
    background: #fefefe;    
    margin: 0 2px 15px;
    padding: 5px;
    transition: opacity .4s ease-in-out;
    display: inline-block;
    column-break-inside: avoid;
    text-align: center;
}

div#follower img {
    width: 70%;
    height: auto;
    border-radius: 50%;
    margin: 0 auto;
}

@media screen and (max-width: 750px) { 
  #follower { column-gap: 10px; }
  #follower figure { width: 100%; }
}

.btn-long{
    background: #ed4a57;
    color: #fff;
    width: 100%;
}

.catgory #list-container .item a,
.favourite .favourite-icon i{
    cursor: pointer;
}

.card-sort-btn{
    border:none;
    background: transparent;
    padding: 0;
}

