.test-item{
  width: 25%;
  float: left;
  padding: 7px;
}
@media(max-width:500px){
   .test-item{
  width: 100%;
}
}
/*@media(max-width:800px){
   .test-item{
  width: 50%;
}
}*/
@media only screen and (min-width: 501px) and (max-width: 1000px) {
    .test-item{
  width: 50%;
}
}