{% extends "base.html" %}

{% load static %}

{% block header %}
{% include 'base/header.html' %}
{% endblock %}
{% block content %}
    <p style="padding-top: 50px"></p>
    <style>
        grammarly-ghost{
            display: none;
        }
    </style>

    <div class="container">
        <form class="navbar-form navbar-right">
                <a href="javascript:void(0);" class="btn-draft" onclick="post_card(0)" style="cursor: pointer;">下書き保存</a>
                <a href="javascript:void(0);" class="btn-log-user" onclick="post_card(1)" style="cursor: pointer;">公開する</a>
            </form>

        <div class="input-textarea">
            <textarea id="post-title" placeholder="タイトル (150文字以内)"></textarea>
            <hr>
        </div>
        <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3">
            <h4>カテゴリーを選択</h4>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-9">
            <ul class="category-list">

                {% for cat in category_data %}
                 <li><a data-tagid="{{ cat.id }}" href="#">{{ cat.category_title }}</a></li>
                {% endfor %}



            </ul>
        </div>
    </div>
        <div class="row add-card">
        <h4>カードを追加</h4>
    </div>
        <div class="attach-files row">
            <div class="tab-content clearfix">

            <div class="tab-pane" id="1a">
                <div class="row add-image">
                    <div class="col-md-3 col-sm-3 col-xs-3 add-img image-upload">
                        <img id="blah" src="../media/image/img-up.png" class="img-responsive">
                        <input  name="file" type="file" class="upload imgInp" />
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9 add-image-info" style="margin-top: 10px">
                        <textarea id="CardTitle" placeholder="タイトル (150文字以内)"></textarea>
                        <div class="copy-right">
                            <span class="copy-right-text">
                                <p>第三者の著作権、プライバシー権その他の権利を侵害しないよう留意してください</p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="2a">
                <div class="row add-image">
                    <div class="col-md-3 col-sm-3 col-xs-3 add-img image-upload">

                        <div id="videoUpload">
                            <img src="../media/image/vid-up.png" class="img-responsive">
                        </div>

                        <input name="videoUpload" type="file" class="upload imgInp" />
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9 add-image-info" style="margin-top: 10px">
                        <textarea id="videoCardTitle" placeholder="タイトル (150文字以内)"></textarea>
                        <div class="copy-right">
                            <span class="copy-right-text">
                                <p>第三者の著作権、プライバシー権その他の権利を侵害しないよう留意してくださいa</p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane " id="3a">
                <div class="row add-image">
                    <div class="url-input">
                        <label>URL を入力</label>
                        <div class="input-group">
                          <input id="input-card-url" type="text" class="form-control" placeholder="http://" aria-describedby="basic-addon2">
                          <a href="#" id="findUrl" class="btn btn-url input-group-addon" style="border-radius: 10px;">データを取得</a>
                      </div>
                  </div>
                    <div class="col-md-3 col-sm-3 col-xs-3 add-img image-upload">
                        <img id="url-image-preview" src="../media/image/img-up.png" class="img-responsive">
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9 add-image-info">
                        <h3 id="url-description-preview">サイトタイトル サイト</h3>
                        <!-- <textarea id="myId" placeholder="http://"></textarea> -->
                        <!-- <div class="copy-right">
                            <span class="copy-right-text">
                                <p>&nbsp;</p>
                            </span>
                            <span class="copy-right-btn">
                                <a href="" class="btn-edit"><i class="fas fa-pencil-alt"></i></a>
                                <a href="" class="btn-delete"><i class="fas fa-trash"></i></a>
                                <a href=""><i class="fas fa-sort-up"></i></a>
                                <a href=""><i class="fas fa-sort-down" style="margin-left: -23px;"></i></a>
                            </span>
                        </div> -->
                    </div>
                </div>
            </div>

        </div>
            <ul class="nav nav-pills select-item">
            <li class="select-item-label">アイテムを選択</li>
            <li class="cardTypes" data-card-type="image"><a href="#1a" data-toggle="tab"><i class="far fa-image"></i></a></li>
            <li class="cardTypes" data-card-type="video"><a href="#2a" data-toggle="tab"><i class="fas fa-video"></i></a></li>
            <li class="cardTypes" data-card-type="url"><a href="#3a" data-toggle="tab"><i class="fas fa-link"></i></a></li>
            <li class="pull-right" style="position: relative; top: 11px;">
                <button onclick="validateForm()" class="btn btn-active" id="addCardButton">Add Card</button>
            </li>

        </ul>

        </div>
        <div id="show_card">

        </div>
    </div>


<script type="text/javascript">










    $('#addCardButton').prop('disabled', true);

    var tags = [];
    var cardTypes = null;

    var GLOBAL_TEXT = "";
    var GLOBAL_FILE = "";
    var GLOBAL_URL = "";

    var category_ids=[];

{#    var GLOBAL_ITEMLIST ;#}
{#    var GLOBAL_SELECTED=0 ;#}
{#    var GLOBAL_LEN=0;#}

    $('.cardTypes').on('click', function (e) {
        e.preventDefault();
        cardTypes = $(this).data('card-type');
        $('#addCardButton').prop('disabled', false);
    });

    $(".category-list>li").on('click', function (e) {
        e.preventDefault();


        index = tags.indexOf($(this).text());

        var cat_id=$(this).find("a").data("tagid");


        var cat_index = category_ids.indexOf(cat_id);

        if (cat_index > -1) {
            category_ids.splice(cat_index, 1);
            console.log("found");
        }
        else
        {
            category_ids.push(cat_id);
            console.log("not found");
        }


        if (index > -1) {
            tags.splice(index, 1);
            $(this).find('a').removeClass('active');
        } else {
            tags.push($(this).text());
            $(this).find('a').addClass('active');
        }

        console.log(category_ids);

    });

    var temp_img;
    var temp_img2;

    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                if (cardTypes == 'image') {
                    $('#blah').attr('src', e.target.result);
                } else if (cardTypes == 'video') {
                    var video = `
                    <video width="100%" height="250">
                      <source src="${e.target.result}" type="video/mp4">
                      <source src="${e.target.result}" type="video/ogg">
                    </video>`
                        ;
                    $('#videoUpload').html(video)
                }

                temp_img = e.target.result;
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $(".imgInp").change(function () {
        readURL(this);
    });

    var card_list = [];

    function validateForm() {

        if (cardTypes == 'image') {
            var file = document.getElementsByName("file");
            var text = $('#CardTitle').val();

            $('#blah').attr('src', "../media/image/img-up.png");
            $('#CardTitle').val('');

            var temp_card = { text: text, file: temp_img, cardType: cardTypes, url: "" };

        } else if (cardTypes == 'video') {
            var file = document.getElementsByName("videoUpload");
            var text = $('#videoCardTitle').val();
            $('#videoCardTitle').val('');
            $('#videoUpload').html('<img src="../media/image/vid-up.png" class="img-responsive">');

            var temp_card = { text: text, file: temp_img, cardType: cardTypes, url: "" };
        } else if (cardTypes == 'url') {
            var file = GLOBAL_FILE;
            var text = GLOBAL_TEXT;
            var url = GLOBAL_URL;

            $('#input-card-url').val('');
            $('#url-image-preview').attr('src', "../media/image/img-up.png");
            $('#url-description-preview').html('');

            var temp_card = { text: text, file: file, cardType: cardTypes, url: url };
        }

        
        card_list.push(temp_card)
        var iterator = card_list.keys();
        var keyOfLastEntry = -1;
        for (let key of iterator) {
            keyOfLastEntry = key;
        }
        generate_new_card(temp_card, keyOfLastEntry);

    }


    function generate_new_card(temp_card, keyOfLastEntry) {

        // console.log(temp_card);

        var content = null;
        if (temp_card.cardType == 'image') {
            content = `<img src="${temp_card.file}" class="img-responsive">`;
        } else if (temp_card.cardType == 'video') {
            content = `
                    <video width="100%" height="250" controls>
                      <source src="${temp_card.file}" type="video/mp4">
                      <source src="${temp_card.file}" type="video/ogg">
                    </video>`
                ;
        } else if (temp_card.cardType == 'url') {
            content = `<img src="${temp_card.file}" class="img-responsive">`;
        } 
        var html = `
        <div id="card_div_${keyOfLastEntry}" class="added-post row">
                <div id="image_div_${keyOfLastEntry}" class="col-md-3 col-sm-3 added-image">
                    ${content}
                </div>
		        <div class="col-md-9 col-sm-9 ">
			<div id="text_${keyOfLastEntry}" class="added-text col-sm-12" style="margin-top:20px">
                <h3>${temp_card['url']}</h3>
                <p>
                    ${temp_card['text']}
                </p>
                
            </div>
            <div class="col-sm-12" style="margin-top: 20px">
                <span class="copy-right-text">
                    <p>&nbsp;</p>
                </span>
                <span class="copy-right-btn">
                    <span onclick="editCard(${keyOfLastEntry},'${temp_card.cardType}')" class="btn-edit"><i class="fas fa-pencil-alt"></i></span>
                    <span onclick="delete_card(${keyOfLastEntry})" class="btn-delete"><i class="fas fa-trash"></i></span>
                    <button onclick="swap(${keyOfLastEntry},'up');" id="up_${keyOfLastEntry}" class="card-sort-btn up"><i class="fa fa-sort-up"></i></button>
                    <button onclick="swap(${keyOfLastEntry},'down');" id="down_${keyOfLastEntry}" class="card-sort-btn down"><i class="fa fa-sort-down"></i></button>
                </span>
                <span id="edit_save_${keyOfLastEntry}"></span>
            </div>
		</div>
	        </div>
    `;


        $("#show_card").prepend(html);


    }



    function swap(id, type) {
        var div_data;

        if (type == 'down')
        {
            div_data = $('#card_div_'+id).next().attr('id');

            console.log(div_data)

            $("#"+ div_data).each(function () {
                if (!$(this).text().match(/^\s*$/)) {
                    $(this).insertBefore($(this).prev('#card_div_'+id));
                }
            });

            console.log('Before Card List==>>    ',card_list)

            var selected_item = card_list[id];
            card_list[id] = card_list[id-1];
            card_list[id-1] = selected_item;

            console.log('After Card List==>>   ',card_list)

        }else
        {
            div_data = $('#card_div_'+id).prev().attr('id');

            console.log(div_data)

            $('#card_div_'+id).each(function () {
                if (!$(this).text().match(/^\s*$/)) {
                    $(this).insertBefore($(this).prev("#"+ div_data));
                }
            });
        console.log('Card List==>>   ',card_list)

            var selected_item = card_list[id];
            card_list[id] = card_list[id+1];
            card_list[id+1] = selected_item;

            console.log('After Card List==>>   ',card_list)
        }



    };


    function delete_card(keyOfLastEntry) {
        card_list.splice(keyOfLastEntry, 1);
        $("#card_div_" + keyOfLastEntry).remove();
    }



    function editCard(keyOfLastEntry, cardType) {

        var content = null;
        if (cardType == 'image') {
            content = `<img id="blah_${keyOfLastEntry}" src="${card_list[keyOfLastEntry]['file']}"            class="img-responsive">`;
        } else if (cardType == 'video') {
            content = `
                    <video width="100%" height="250" controls>
                      <source src="${card_list[keyOfLastEntry]['file']}" type="video/mp4">
                      <source src="${card_list[keyOfLastEntry]['file']}" type="video/ogg">
                    </video>`
                ;
        }else if (cardType == 'url') {
            content = `<img src="${card_list[keyOfLastEntry]['file']}" class="img-responsive">`;
        }

        image_html = `
    <div class="col-md-3 col-sm-3">
        <div class="image-upload" id="image_div_${keyOfLastEntry}">
            <span>
                <div class='updateVideo_${keyOfLastEntry}'>
                       ${content}
                </div>
                <input id="imgInp_${keyOfLastEntry}" name="file" type="file" class="upload" />
            </span>
        </div>
        </div>
    `;

        temp_img2 = card_list[keyOfLastEntry]['file']

        text_html = '<textarea id="edited_textarea_' + keyOfLastEntry + '" rows="10" cols="50" class="col-sm-10 add-text" style="margin-top:20px">' + card_list[keyOfLastEntry]['text'] + '</textarea>'

        save_change_html = '<button onclick="saveEditedCard(' + keyOfLastEntry + ',\'' + cardType + '\')" style="font-size:10px;margin-left:10px" class="btn btn-danger" type=\'button\' >Save Change</button>'

        $("#text_" + keyOfLastEntry).replaceWith(text_html)
        $("#image_div_" + keyOfLastEntry).replaceWith(image_html)
        $("#edit_save_" + keyOfLastEntry).replaceWith(save_change_html)



        $("#imgInp_" + keyOfLastEntry).change(function () {

            if (this.files && this.files[0]) {
                var reader2 = new FileReader();

                reader2.onload = function (e) {


                    if (cardType == 'image') {
                        $('#blah_' + keyOfLastEntry).attr('src', e.target.result);

                    } else if (cardType == 'video') {
                        var video = `
                    <video width="100%" height="250">
                      <source src="${e.target.result}" type="video/mp4">
                      <source src="${e.target.result}" type="video/ogg">
                    </video>`
                            ;
                        $('.updateVideo_0').html(video)
                    }

                    temp_img2 = e.target.result;
                };
                reader2.readAsDataURL(this.files[0]);
            }

        });
    }




    function saveEditedCard(keyOfLastEntry, cardType) {
        edited_text = $("#edited_textarea_" + keyOfLastEntry).val();
        card_list[keyOfLastEntry]['text'] = edited_text;
        card_list[keyOfLastEntry]['file'] = temp_img2;

        var content = null;
        if (cardType == 'image') {
            content = `<img src="${temp_img2}" class="img-responsive">`;
        } else if (cardType == 'video') {
            content = `
                    <video width="100%" height="250" controls>
                      <source src="${temp_img2}" type="video/mp4">
                      <source src="${temp_img2}" type="video/ogg">
                    </video>`
                ;
        }else if (cardType == 'url') {
            content = `<img src="${card_list[keyOfLastEntry]['file']}" class="img-responsive">`;
        }


        edited_card_html = `
                <div id="card_div_${keyOfLastEntry}" class="added-post row">
                <div id="image_div_${keyOfLastEntry}" class="col-md-3 col-sm-3 added-image">
                    ${content}
                </div>
		        <div class="col-md-9 col-sm-9 ">
			<div id="text_${keyOfLastEntry}" class="added-text col-sm-10" style="margin-top:20px">${edited_text}</div>
            <div class="col-sm-2" style="margin-top: 20px">
                <span class="copy-right-text">
                    <p>&nbsp;</p>
                </span>
                <span class="copy-right-btn">
                    <span href="#" onclick="editCard(${keyOfLastEntry},'${cardType}')" class="btn-edit"><i class="fas fa-pencil-alt"></i></span>
                    <span href="#" onclick="delete_card(${keyOfLastEntry})" class="btn-delete"><i class="fas fa-trash"></i></span>
                    <span href="#"><i onclick="return up_down(${keyOfLastEntry});" id="up_${keyOfLastEntry}" class="fas fa-sort-up"></i></span>
                    <span href="#"><i onclick="return up_down(${keyOfLastEntry});" id="down_${keyOfLastEntry}" class="fas fa-sort-down" style="margin-left: -17px;"></i></span>
                </span>
                <span id="edit_save_${keyOfLastEntry}"></span>
            </div>
		</div>
	        </div>
    `;

        $("#card_div_" + keyOfLastEntry).replaceWith(edited_card_html);

    }



    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function post_card(type) {
        var title = document.getElementById("post-title").value;

        var link = [];
        var desciprtion = [];
        var content = [];
        var content_type = [];


        jQuery.each(card_list, function (key, value) {
            link.push(value.url);
            desciprtion.push(value.text);
            content.push(value.file);
            content_type.push(value.cardType);
        });


        var data = {
            "post_title": title,
            "hash_tag": tags.join(" #"),
            "timeline_privacy": "public",
            "is_publish": type,
            "card_list":JSON.stringify(card_list),
            "category_ids":JSON.stringify(category_ids),
            "csrfmiddlewaretoken": csrftoken
        };


        $.ajax({
            url: "/base/Ajax_post_cardlist/",
            // url: "{{ api_server }}",
            type: "POST",
            data: data,
            crossDomain: true,
            dataType:"json",
            beforeSend: function (xhr, settings) { },
            error: function (xhr, errmsg, err) { },
            success: function (data) {
                if (data == "-1") {
                    alert("Invalid URL format. Please check again.")
                } else {
                    window.location.href = "/base/single_post/" + data;
                }
                
            },
            complete(xhr,textStatus){}

        });

        return false;
    }

    $('#findUrl').on('click', function (e) {
        e.preventDefault();

        $.ajax({
            url: "/base/ajax-get-url/",
            type: "post",
            data:
                {
                    url: jQuery("#input-card-url").val(),
                    csrfmiddlewaretoken: csrftoken
                },
            beforeSend: function (xhr, settings) { 
                jQuery("#findUrl").attr("disabled","disabled");
            },
            error: function (xhr, errmsg, err) { },
            success: function (data) {
                if (data == "-1") {
                    alert("Invalid URL format. Please check again.")
                } else {
                    data = JSON.parse(data);
                    GLOBAL_TEXT = data.description;
                    GLOBAL_FILE = data.image;
                    GLOBAL_URL = data.url;

                    // console.log(GLOBAL_FILE);

                    jQuery("#url-image-preview").attr("src", GLOBAL_FILE);
                    jQuery("#url-description-preview").text(GLOBAL_TEXT);
                }
                
            },
            complete(xhr,textStatus){
                jQuery("#findUrl").removeAttr("disabled");
            }

        });


    });




</script>

{% endblock content %}
