 {% extends "base.html" %}

{% load static %}
{% block header %}
{% include 'base/header.html' %}
{% endblock %}
{% block content %}
<script type="text/javascript">


function Ajax_filter(id,category_id) {

 $.ajax({

            async: true,
            crossDomain: true,
{#            method: "GET",#}
            dataType: "json",
{#            url: BASE_URL + "trend/targets_words",#}

            timeout: 60000,
            url: "/base/Ajax_load_category_posts/",
            type: "GET",
            data:   {
                        category_id:category_id,
                        csrfmiddlewaretoken: csrftoken
                    },


           beforeSend: function (xhr, textStatus) {

                console.log("sending");
                jQuery("#columns").LoadingOverlay("show");

            },
            error: function (xhr, textStatus) {
                console.log("error occured");
            },


            success: function (data) {

                console.log(data['timeline_data'])
                jQuery("#columns").html("");
                var content="";

                for (i = 0; i < data['timeline_data'].length; i++) {
                    var td=data['timeline_data'][i];





                    single_content ='<figure id="single_content_div_'+td.post_id+'">\n' +
                        '<a href="/base/single_post/'+td.post_id+' ">';

                        if (td.post_card_type == 'video') {
                            single_content += '<video width="100%" height="250" controls>\n' +
                                '               <source src='+ td.post_card +' type="video/mp4">\n' +
                                '               <source src='+ td.post_card +' type="video/ogg">\n' +
                                '           </video>';
                        }
                        else {
                        single_content += ' <img src='+ td.post_card +' class="img-responsive">\n';

                        }

                       single_content += '' +
                        '      <figcaption>'+ td.post_title +'</figcaption>  </a> \n' +
                        '      <div class="favourite">\n' +
                        '        <div class="favourite-icon">';

                        if (td.is_favorite == 1){
                          single_content +='<i class="fas fa-heart" id="fav_'+td.post_id+'"\n' +
                              '                   onclick="return Ajax_favorite('+ td.post_id +',0);"></i>' ;
                        }
                        else {
                            single_content +='<i class="far fa-heart" id="unFav_'+ td.post_id +'"\n' +
                                '                   onclick="return Ajax_favorite('+ td.post_id +',1);"></i>';

                        }

                         single_content +=' </div>\n' +
                             '        <div class="favourite-text">\n' +
                             '          <p><span id="total_fav_'+ td.post_id +'">'+ td.total_favorite +'</span> Favorite\n' +
                             '          <span id="total_comment_'+ td.post_id +'"> '+ td.total_comment +'</span> Comments</p>\n' +
                             '        </div>\n' +
                             '      </div>\n' +
                             '    </figure>';



                        content=content+ single_content;



                }

                jQuery("#columns").append(content);




            },
         complete: function (xhr, textStatus) {
            console.log("ajax call completed");
            jQuery("#columns").LoadingOverlay("hide");

            jQuery(".item").removeClass("active");
            jQuery("#"+id).addClass("active");
               }

        });


}





{# Function for favorite   #}
function Ajax_favorite(post_id,isFavorite)
    {


        $.ajax({

            async: true,
            crossDomain: true,
{#            method: "GET",#}
            dataType: "json",
{#            url: BASE_URL + "trend/targets_words",#}

            timeout: 60000,
            url: "/base/Ajax_favorite/",
            type: "POST",
            data:   {
                        post_id:post_id,
                        isFavorite:isFavorite,
                        csrfmiddlewaretoken: csrftoken
                    },


           beforeSend: function (xhr, textStatus) {
                console.log("sending");
                jQuery("#single_content_div_"+post_id+"").LoadingOverlay("show");

            },
            error: function (xhr, textStatus) {
                console.log("error occured");
            },


            success: function (data) {

                if (data == 1) {

            if(isFavorite==0){

                var html ='<i class="far fa-heart" id="unFav_'+post_id+'" onclick="return Ajax_favorite('+post_id+',1);"></i>';

                jQuery("i#fav_"+post_id).replaceWith(html);

                var t=document.getElementById("total_fav_"+post_id+"").innerText;
                var new_total=parseInt(t)-1;

                var total_fav_html='<span id="total_fav_'+post_id+'">'+new_total+'</span>';
                jQuery("span#total_fav_"+post_id).replaceWith(total_fav_html);
{#                alert(total_like)#}


            }
          if(isFavorite==1){

                var html ='<i class="fas fa-heart" id="fav_'+post_id+'" onclick="return Ajax_favorite('+post_id+',0);"></i>';

                jQuery("i#unFav_"+post_id).replaceWith(html);

                var t=document.getElementById("total_fav_"+post_id+"").innerText;
                var new_total=parseInt(t)+1;

                var total_fav_html='<span id="total_fav_'+post_id+'">'+new_total+'</span>';
                jQuery("span#total_fav_"+post_id).replaceWith(total_fav_html);
             }

             }
             else if ( data == -1 ) {

                    console.log("i am redirecting")

                     window.location.href =  "/base/login";
                }

             else
                {
                    alert('Unknown Error.Please Check Database connection.Or contact administration');
                }

            },
         complete: function (xhr, textStatus) {
            console.log("ajax call completed");
            jQuery("#single_content_div_"+post_id+"").LoadingOverlay("hide");
               }

        });
    }



</script>

    {% if timeline_data is not None%}

    <div class="container mob-container">
      <div class="row catgory">
        <div id="arrowL"><i class="fas fa-angle-left"></i></div>
        <div id="arrowR"><i class="fas fa-angle-right"></i></div>
        <div id="list-container">
            <div class='list'>
    {#            <div class='item active'><a href="">トレンド</a></div>#}

                {% for cat in categories %}
                <div class='item' id='cat_div_{{ cat.id }}'><a  onclick='return Ajax_filter("cat_div_{{ cat.id }}","{{ cat.id }}");'>{{ cat.category_title }}</a></div>
                 {% endfor %}


            </div>
        </div>
      </div>
      <div class="page-title">
    {#    <h2>&nbsp;トレンド</h2>#}
      </div>

    {#id="row_post_div"#}

    <div id="columns" >

    {% for td in timeline_data %}

    {% include 'base/_partial_post.html' with  td=td   %}

    {% endfor %}
    </div>


    </div>

    {% else %}

    <h1> Somethings went wrong....</h1>

    {% endif %}
 
<script type="text/javascript">

   $(document).ready(function() {
    
    var $item = $('div.item'), //Cache your DOM selector
        visible = 2, //Set the number of items that will be visible
        index = 0, //Starting index
        endIndex = ( $item.length / visible ) - 1; //End index
    
    $('div#arrowR').click(function(){
        if(index < endIndex ){
          index++;
          $item.animate({'left':'-=150px'});
        }
    });
    
    $('div#arrowL').click(function(){
        if(index > 0){
          index--;            
          $item.animate({'left':'+=150px'});
        }
    });
    
});





</script>



{% endblock content %}
