<div id="wrapper" class="toggled">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
    <!-- <div class="sidebar-brand">

    </div> -->
    <ul class="sidebar-nav">
        <li  ><a href="#"><span>Trend</span></a></li>
        <li  ><a href="#"><span>Food&Drink</span></a></li>
        <li  ><a href="#"><span>Travel</span></a></li>
        <li  ><a href="#"><span>Lady’s Fashion</span></a></li>
        <li ><a href="#"><span>Men’s Fashion</span></a></li>
  </ul>

</div>


<!-- /#sidebar-wrapper -->
<div style="height: 70px;">&nbsp;</div>