 {% extends "base.html" %}

{% load static %}

{#{% block title %}Parade Web{% endblock title %}#}
{#{% block header %}#}
{#{% include 'base/header.html' %}#}
{#{% endblock %}#}
{% block content %}




 <div class="col-md-5 col-sm-6 col-md-offset-1">
     <a href="{% url "home" %}"style="height: 50px">
         <img src="{% static "back-button-icon-28042.png" %}" style="height: 50px" />
     </a>

 <div class="row">
          <div class="col-md-12">
        <div class="">
            <div class="input-group input-group-lg title-label">

            </div>
            <p style="height: 100px;">&nbsp;</p>
            <div class="follower">
                <div class="media-left user">
                    <img class="media-object " style="width: 50px;height: 50px" src="{{ user_data.user_profile_pic }}" alt="User">
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><a href="{% url 'profile' user_id=user_data.post_user_id %}">{{ user_data.username }}</a></h4>
                    <p>{{ post_added_date }}</p>
                </div>
                <div class="media-right ">
{#                    <button class="btn btn-user">Following</button>#}
{#                {% if  user_data.post_user_id != request.session.user_id%}#}
{##}
{#                {% if profile_info.is_followed  %}#}
{#                <button id="following" onclick="return Ajax_follow({{ profile_info.id }},0);"  class="btn btn-user">Following</button>#}
{#                {% else %}#}
{#                <button id="follow" onclick="return Ajax_follow({{ profile_info.id }},1);" class="btn btn-user">Follow</button>#}
{#                {% endif %}#}
{##}
{#                {% endif %}#}


                </div>
            </div>
            <div class="">
                <h2>{{ title }}</h2>
                            <div class="slider-caption-container">
                            {% for data in card_data %}
                            <div class="item-caption  {% if forloop.counter0 == 0 %} active {% endif %}">
                            {{ data.description }}
                            </div>

                            {% endfor %}
                            </div>
                 </div>
            <div class="post-fav">
                <span><a href="" data-toggle="modal" data-target="#FavoriteModal"><i class="fas fa-list-ul"></i></a></span>&nbsp;<span>12</span>&nbsp; &nbsp; &nbsp;
                <span class="comment"><a href="" data-toggle="modal" data-target="#CommentModal"><i class="far fa-comment"></i></a></span>&nbsp;<span>12</span>
            </div>
            <p>&nbsp;</p>
            <div class="btn-ctrl slider-control-btn">
                <button class="btn btn-prev" id="prev-slider-btn" disabled data-prevItem=""><i class="fas fa-angle-up"></i> Prev</button>
                <button class="btn btn-next" id="next-slider-btn" data-nextItem="1">Next &nbsp;<i class="fas fa-angle-down"></i></button>
            </div>
        </div>
    </div>
 </div>

{#                <div class="slider-caption-container"> #}
{#                            {% for data in card_data %} #}
{#                                <div class="item-caption  {% if forloop.counter0 == 0 %} active {% endif %}">#}
{#                                    {{ data.description }}#}
{#                                </div>#}
{##}
{#                            {% endfor %} #}
{#                    </div>#}
                <!-- /.slider-caption -->
            </div>
            <div class="col-md-6 col-sm-6" style="padding-right: 0; padding-left: 0;">
                <div class="custom-slider">
                    <div class="items">
                       <div class="slider-overlay"></div>
                        <div class="slider-controller">
                   <ul class="list-unstyled">
                        {% for data in card_data %}


           <li><a href="javaScript:void(0)"  class="control {% if forloop.counter0 == 0 %} active {% endif %}   " data-item="{{ forloop.counter0 }}"></a></li>

                        {% endfor %}

{#            <li><a href="javaScript:void(0)" class="control active" data-item="0"></a></li>#}
{#            <li><a href="javaScript:void(0)"  class="control" data-item="1"></a></li>#}

                            </ul>
                        </div>
                        <div class="items-inner">



                            {% for data in card_data %}


                    {% if data.content_type == 'video' %}
                    <div class="item {% if forloop.counter0 == 0 %} active {% endif %}" style="z-index: 1;">
                      <video width="100%" height="250" controls>
                          <source src="{{ data.content }}" type="video/mp4">
                          <source src="{{ data.content }}" type="video/ogg">
                        </video>
                    </div>

                    {% else %}
                        <div class="item {% if forloop.counter0 == 0 %} active {% endif %}">
                    <img src="{{ data.content }}" alt="image not found">
                        </div>
                    {% endif %}


                            {% endfor %}


                        </div>
                        <!-- /.items-inner -->
                    </div>
                </div>
                <!-- /.custom-slider -->

            </div>





{##}
<script type="text/javascript" src="{% static 'js/custom_card_slider.js' %}"></script>
<script type="text/javascript">

</script>

{% endblock content %}
