 {% extends "base.html" %}

{% load static %}

{#{% block title %}Parade Web{% endblock title %}#}
{% block header %}
{% include 'base/header.html' %}
{% endblock %}


{% block content %}
<script type="text/javascript">


{# Function for favorite   #}
function Ajax_favorite(post_id,isFavorite)
    {


        $.ajax({

            async: true,
            crossDomain: true,
{#            method: "GET",#}
            dataType: "json",
{#            url: BASE_URL + "trend/targets_words",#}

            timeout: 60000,
            url: "/base/Ajax_favorite/",
            type: "POST",
            data:   {
                        post_id:post_id,
                        isFavorite:isFavorite,
                        csrfmiddlewaretoken: csrftoken
                    },


           beforeSend: function (xhr, textStatus) {
                console.log("sending");
                jQuery("#single_content_div_"+post_id+"").LoadingOverlay("show");

            },
            error: function (xhr, textStatus) {
                console.log("error occured");
            },


            success: function (data) {

                if (data == 1) {

            if(isFavorite==0){

                var html ='<i class="far fa-heart" id="unFav_'+post_id+'" onclick="return Ajax_favorite('+post_id+',1);"></i>';

                jQuery("i#fav_"+post_id).replaceWith(html);

                var t=document.getElementById("total_fav_"+post_id+"").innerText;
                var new_total=parseInt(t)-1;

                var total_fav_html='<span id="total_fav_'+post_id+'">'+new_total+'</span>';
                jQuery("span#total_fav_"+post_id).replaceWith(total_fav_html);
{#                alert(total_like)#}


            }
          if(isFavorite==1){

                var html ='<i class="fas fa-heart" id="fav_'+post_id+'" onclick="return Ajax_favorite('+post_id+',0);"></i>';

                jQuery("i#unFav_"+post_id).replaceWith(html);

                var t=document.getElementById("total_fav_"+post_id+"").innerText;
                var new_total=parseInt(t)+1;

                var total_fav_html='<span id="total_fav_'+post_id+'">'+new_total+'</span>';
                jQuery("span#total_fav_"+post_id).replaceWith(total_fav_html);
             }

             }
             else if ( data == -1 ) {



                     window.location.href =  "/base/login";
                }

             else
                {
                    alert('Unknown Error.Please Check Database connection.Or contact administration');
                }

            },
         complete: function (xhr, textStatus) {
            console.log("ajax call completed");
            jQuery("#single_content_div_"+post_id+"").LoadingOverlay("hide");
               }

        });
    }



</script>


<div class="container mob-container">
  <div class="user-follow">
  <div class="media-left">
        <img style="height: 100px;width: 100px" class="media-object" src="{{ profile_info.image }}" alt="User">
      </div>
      <div class="media-body">
        <h2 class="media-heading">{{ profile_info.name }}</h2>
        <h3><span>{{ profile_info.total_following }} Follow</span>&nbsp;
            &nbsp;<span>{{ profile_info.total_follower }} Followers</span>
            &nbsp; &nbsp;<span>{{ profile_info.total_favorite }} Favorite</span></h3>
      </div>
      <div class="media-right ">
          {% if  profile_info.id != request.session.user_id%}

              {% if profile_info.is_followed  %}
  <button id="following" onclick="return Ajax_follow({{ profile_info.id }},0);"  class="btn btn-user">Following</button>
                  {% else %}
 <button id="follow" onclick="return Ajax_follow({{ profile_info.id }},1);" class="btn btn-user">Follow</button>
           {% endif %}

          {% endif %}
      </div>
</div>



<div id="columns" >
{% for td in timeline_data %}

{% include 'base/_partial_post.html' with  td=td   %}

{% endfor %}

</div>

 </div>






<script type="text/javascript">

var csrftoken = getCookie('csrftoken');
{# Function for unfollowing   #}
function Ajax_follow(user_id,status)
    {


        $.ajax({
            url: "/base/Ajax_follow/",
            type: "POST",
            data:
                    {
                        user_id:user_id,
                        status:status,
                        csrfmiddlewaretoken: csrftoken
                    },
            beforeSend: function (xhr, settings) {

            },
            error: function (xhr, errmsg, err) {

            },
            success: function (data) {
                if (data == 1) {

 if (status==0) {
     var button = ' <button id="follow" onclick="return Ajax_follow(' + user_id + ',1);"  class="btn btn-user">Follow</button>';
    $('#following').replaceWith(button);

 }
else if (status==1) {
     var button = ' <button id="following" onclick="return Ajax_follow(' + user_id + ',0);"  class="btn btn-user">Following</button>';
    $('#follow').replaceWith(button);

 }

                }

                else if (data == -1){
                  alert('Bad Request.')
                }
              else if (data == -2) {
                    window.location.href =  "/base/login";
                }

             else
                {
                    alert('Unknown Error.Please Check Database connection.Or contact administration');
                }

            }

        });
    }
</script>



{% endblock content %}
