
{% extends "base.html" %}

{% load static %}

{% block header %}
{#{% include 'base/header.html' %}#}
{% endblock %}
{% block content %}

    <style>
    #blah{
        vertical-align: middle;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    }


    </style>


    <p style="padding-top: 50px"></p>

<div class="sign-up">

<form action="" method="post">
    {% csrf_token %}
  <h1>Reset Password</h1>
    <h4 style="color: red;">

            {{ error_message }}


    </h4>
   <h4 style="color: green;">

            {{ message }}


    </h4>
  <fieldset>


    <label for="password">Password:</label>
    <input   type="password" id="password" name="password" required>
    <label for="password">Password confirmation:</label>
    <input type="password" id="password" name="confirm_password" required>
  </fieldset>
  <button type="submit" class="btn" style="background-color: limegreen">Submit</button>
</form>
</div>




{##}
{#<script type="text/javascript">#}
{# var temp_img;#}
{#function readURL(input) {#}
{##}
{#  if (input.files && input.files[0]) {#}
{#    var reader = new FileReader();#}
{##}
{#    reader.onload = function(e) {#}
{#      $('#blah').attr('src', e.target.result);#}
{#      temp_img=e.target.result;#}
{#      $('#blah').show()#}
{#      $('#usericon').hide()#}
{##}
{#        console.log(temp_img)#}
{#      $('#hidden_img').val(temp_img)#}
{##}
{##}
{#    }#}
{##}
{#    reader.readAsDataURL(input.files[0]);#}
{##}
{#  }#}
{#}#}
{##}
{#$("#imgInp").change(function() {#}
{#  readURL(this);#}
{#});#}
{#</script>#}



{% endblock content %}
